/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* ----------------- begin css reset --------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------- END CSS Reset END --------------- */


/* --------------- BEGIN Navigation Bar BEGIN -------- */
#menu-bar {

    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 33px;
    line-height: 100%;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    background-color: rgba(255, 255, 255, .75);
    border: solid 1px #000;
    position:relative;
    z-index:999;

}
#menu-bar li {
    margin: 0px 0px 6px 0px;
    padding: 0px 6px 0px 6px;
    float: left;
    position: relative;
    list-style: none;


}
#menu-bar a {
    font-weight: bolder;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-size: 1em;
    color: #F2F0F0;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: 2px 2px 2px #000000;
}
#menu-bar li ul li a {
    margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
    background: #615E5E;
    color: #FFFFFF;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px #000000;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
    background: none;
    border: none;
    color: #666;
    -box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#menu-bar ul a:hover {
    background: #615E5E !important;
    color: #FFFFFF !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 2px 2px 3px #000000;
}
#menu-bar li:hover > ul {
    display: block;
}
#menu-bar ul {
    background: #FFFFFF;
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 30px;
    left: 0;
    border: solid 1px #B4B4B4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#menu-bar ul a {
    padding:10px 0px 10px 15px;
    color:#787878 !important;
    font-size:11px;
    font-style:normal;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#menu-bar {
    display: inline-block;
}
html[xmlns] #menu-bar {
    display: block;
}
* html #menu-bar {
    height: 1%;
    width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
}

/* ----------------- END Navigation Bar END -------- */

.bold {
    font-weight: 700
}

.education p, .work-experience p, .skills p, .education p, .work-experience ul li, .education ul li {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    line-height: 140%;
    list-style-type: square;
    margin-left: 1.5em;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 15px;
}

.icon-education {
    background-image: url(../img/diploma-64.png);
    display: block;
    height: 64px;
    width: 64px
}

.icon-skills {
    background-image: url(../img/desktop-64.png);
    display: block;
    height: 64px;
    width: 64px
}

.icon-work {
    background-image: url(../img/briefcase-64.png);
    display: block;
    height: 64px;
    width: 64px
}

.objective, .work-experience, .skills, .education {
    background-color: rgba(255, 255, 255, 0.75);
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    padding: 15px 0 15px 15px

}

body {
    margin: 15px
}

div.icon-work h1, div.skills h1, div.education h1 {
    float: left;
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 79px;
    padding-top: 22px;
    white-space: nowrap
}

html {
    background: url(../img/field-background.jpg);
    background-repeat: no-repeat;
    background-size: cover
}